body{
    background-color: gray;
    padding: 20px 20px 20px 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.register-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container{
    height: 700px;
    width: 1100px;
    background-color: white;
    border-radius: 60px;
}

.register-form{
  
    display: flex;
    justify-content: center; /* Centers the form content vertically */
    align-items: center;
    text-align: center;

}

.head p{
    margin-top: -25px;
}

.head h1{
    font-size: 36px;
}

.forms{
    width: 60%;
    text-align: center;
}

.form-l input{
    height: 40px;
    width: 50%;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #2E2E2E;
}

#register-btn{
    background-color: black;
    color: white;
    height: 40px;
    width: 50%;
    border-radius: 30px;
}
.images img{
    height: 700px;
    width: 100%;
    border-top-right-radius:60px ;
    border-bottom-right-radius:60px ;
}

.check{
    display:flex;
    width: 71%;
    justify-content: center;
}